<% content_for :title, "#{@post.title} | " %>
<!--▼▼Post Header▼▼-->
<div class="post-header">
  <div class="post-image">
    <% if @post.main_image %>
    <%= image_tag @post.main_image, alt: @post.title, class: "post-image__img", id: "post-main-img" %>
    <% end %>
  </div>
</div>
<!--▲▲Post Header▲▲-->

<!--▼▼Contents▼▼-->
<main class="post-wrap">
  <div class="post-wrap__inner">
    <h1 class="post-title"><span class="post-title__span"><%= @post.title %></span></h1>
    <div class="post-content">
      <%= @post.content.html_safe %>
    </div>
  </div>
</main>
<!--▲▲Contents▲▲-->
