<div class="post-block">
  <p class="category-smtxt">Category:</p>
  <h1 class="post-title post-title--nopadding"><%= @category.category_name %></h1>
</div>

<ul class="list-wrap">
  <% @posts.each do |post| %>
  <li class="list-item">
    <div class="post-item">
      <p class="post-item__imgwrap">
        <%=
          link_to image_tag(post.main_image, alt: post.title, class: "post-item__img"), blog_post_path(post.slug)
        %>
      </p>
      <div class="post-item__txtwrap">
        <p>
          <%= link_to post.title, blog_post_path(post.slug), class: "post-item__link" %></p>
        <p class="post-item__date"><%= post.date %></p>
      </div>
    </div>
  </li>
  <% end %>
</ul>
