<!--▼▼Contents▼▼-->
<main class="post-wrap">
  <div class="post-wrap__inner">
    <h1 class="post-title"><span class="post-title__span">About ACBW</span></h1>
    <div class="post-content">
      <p>
        My name is Adam Christopher Backlas Widjaja. Take the initials of my
        name, and you got ACBW. Welcome to my site!
      </p>
    </div>
  </div>
</main>
<!--▲▲Contents▲▲-->
