<% content_for :title, "About | " %>
<!--▼▼Post Header▼▼-->
<div class="post-header">
  <div class="post-image">
    <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/wpacbw/uploads/2016/12/s_IMG_20161106_142005.jpg", alt: "About ACBW", class: "post-image__img lazyload", id: "post-main-img" %>
  </div>
</div>
<!--▲▲Post Header▲▲-->

<!--▼▼Contents▼▼-->
<main class="post-wrap">
  <div class="post-wrap__inner">
    <h1 class="post-title"><span class="post-title__span">About ACBW</span></h1>
    <div class="post-content">
      <div class="post-block">
        <p>
          My name is Adam Christopher Backlas Widjaja. Take the initials of my
          name, and you got ACBW. Welcome to my site!
        </p>
      </div>
      <div class="post-block">
        <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/wpacbw/uploads/2016/12/s_IMG_20161106_143857.jpg", alt: "Tokyo Cycling Diary", class: "post-block-image" %>
      </div>
      <div class="post-block">
        <h2 class="post-title">Tokyo Cycling Diary</h2>
        <p>Ever since I moved to Tokyo, I’ve always wanted to share things I
          found here. Tokyo is a big place. There are popular places... and
          there are not so popular places. You can reach the popular places
          easily by train, but what about those small treasures that lies
          further around? Here I want to introduce you to places I find
          interesting by cycling around the city, the Tokyo beyond the trains.
          This, is my Tokyo Cycling Diary.
        </p>
      </div>
    </div>
  </div>
</main>
<!--▲▲Contents▲▲-->
