<!--▼▼Contents▼▼-->
<main class="post-wrap">
  <div class="mt2">
    <h1 class="post-title post-title--fourofour"><span class="post-title__span">404<br>Not Found</span></h1>
    <p class="rolled-away">Looks like this page has rolled away,<br>roll your way back.</p>
    <p class="center"><%= link_to "Back to home", "/about", class: "link-button mt2 mb2" %></p>
  </div>
</main>
<!--▲▲Contents▲▲-->
