<!--▼▼Contents▼▼-->
<main class="post-wrap">
  <div class="post-wrap__inner">
    <h1 class="post-title center"><span class="post-title__span">404<br>Not Found</span></h1>
    <p class="center">Looks like this page has rolled away, roll your way back here.</p>
    <p class="center"><%= link_to "Back to home", "/about" %></p>
  </div>
</main>
<!--▲▲Contents▲▲-->
