<!--▼▼Content▼▼-->
<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "markas/common/adminnav" %>
  </div>

  <%= render "form", post: @post, categories: @categories %>
</div>
<!--▲▲Content▲▲-->
