<!--▼▼Content▼▼-->
<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "common/adminnav", locals: {active: 'editpost'} %>
  </div>

  <%= render partial: "common/postform", locals: {
    url: post_path(@post),
    method: :patch,
    title: "Edit Post",
    page: "edit"
    } %>
</div>
<!--▲▲Content▲▲-->
