<!--▼▼Content▼▼-->
<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "posts/adminnav", locals: {active: 'newpost'} %>
  </div>

  <form action="preview.php" id="post-form" class="post-form" method="post">
    <div class="main-wrap main-wrap_postf">
      <div class="block block_nocolor block_nopadding">
        <h1 class="title">New Post</h1>
      </div>
      <div class="block block_nopadding input-title">
        <input type="text" placeholder="Post Title" class="input">
      </div>
      <div class="postf">
        <ul class="postf-ul">
          <li class="postf-item"><button type="button" id="new-block" class="btn">New Block</button></li>
          <li class="postf-item"><button type="button" id="new-img" class="btn">New Image</button></li>
          <li class="postf-item"><button type="button" id="del-block" class="btn">Delete Block</button></li>
        </ul>
        <div id="postf-content" class="postf-content">
          <div class="post-block">
            <p>Insert content here</p>
          </div>
          <div class="post-block">
            <p>Second content example</p>
          </div>
        </div>
        <input type="hidden" id="postfid" name="postfid">
      </div>
    </div>

    <div class="pside">
      <div class="block block_padding">
        <p class="publ" id="publishwrap"><button type="button" id="published" class="publ-btn publ-btn_published">Published</button><button type="button" id="unpublished" class="publ-btn publ-btn_unpublished active">Unpublished</button>
        <input type="hidden" id="publinput" name="publinput" value="unpublished">
        </p>
        <p>Post Date</p>
        <p class="datef">
          <input type="text" placeholder="2017" class="datef-item" size="4">
          <select name="postmonth" id="postmonth" class="datef-item">
            <option value="january">January</option>
            <option value="february">February</option>
            <option value="march">March</option>
            <option value="april">April</option>
            <option value="may">May</option>
            <option value="june">June</option>
            <option value="july">July</option>
            <option value="august">August</option>
            <option value="september">September</option>
            <option value="october">October</option>
            <option value="november">November</option>
            <option value="december">December</option>
          </select>
          <input type="text" placeholder="26" class="datef-item" size="2">
        </p>
      </div>
      <div class="block">
        <p class="category-title">Category</p>
        <ul class="catlist">
          <li class="catlist-item">
            <label>
              <input type="radio" name="category" value="tokyo-cycling-diary" checked>
              <span>Tokyo Cycling Diary</span>
            </label>
          </li>
          <li class="catlist-item">
            <label>
              <input type="radio" name="category" value="tokyo-cycling-diary">
              <span>Life in Japan</span>
            </label>
          </li>
          <li class="catlist-item">
            <label>
              <input type="radio" name="category" value="tokyo-cycling-diary">
              <span>Bicycles</span>
            </label>
          </li>
        </ul>
      </div>
      <div class="block add-del">
        <button type="button" id="create-post" class="btn btn_add">Create Post!</button>
        <a href="index.php" class="btn">Back</a>
      </div>
    </div>
  </form>
</div>
<!--▲▲Content▲▲-->
