<!--▼▼Content▼▼-->
<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "common/adminnav", locals: {active: 'newpost'} %>
  </div>

  <%= render partial: "common/postform", locals: {
    url: posts_path,
    method: :post,
    title: "New Post",
    page: "new"
    } %>
</div>
<!--▲▲Content▲▲-->
