<!--▼▼Content▼▼-->
<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "common/adminnav" %>
  </div>

  <%= render "form", category: @category %>
</div>
<!--▲▲Content▲▲-->
