<!--▼▼Content▼▼-->
<div class="content-wrap">
  <div class="sidenav-wrap">
    <%= render partial: "common/adminnav", locals: {active: 'categories'} %>
  </div>

  <div class="main-wrap">
    <div class="block block_nocolor block_nopadding">
      <h1 class="title title_mb">Categories</h1>
      <p><%= link_to "New Category", new_category_path, class: "btn" %></p>
    </div>

    <div class="tablewrap">
      <table class="table">
        <thead class="table-head table-head_posts">
          <tr>
            <th>Category Name</th>
            <th>Controls</th>
          </tr>
        </thead>
        <tbody class="table-body">
          <% @categories.each do |category| %>
          <tr>
            <td><%= link_to category.category_name, edit_category_path(category.id) %></td>
            <td><%= link_to "Edit", edit_category_path(category.id), class: "btn" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<!--▲▲Content▲▲-->
