<!DOCTYPE html>
<html>
  <head>
    <title>AcbwAdminRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'markas/application' %>
    <%= javascript_include_tag 'markas/application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
